<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jessyan.mvparms.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.jess.arms.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        autolayout meta
        配置设计图的宽高,配合AutoLauout控件使用,在设计图尺寸以外的其它尺寸手机上,也能达到和设计图一样的效果
        注意: 本框架并不强制你使用 AutoLayout,如果你不想使用 AutoLayout,就不要配置下面的 meta-data
        -->
        <!--
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        -->
        <!-- arms配置 -->

        <meta-data
            android:name="me.jessyan.mvparms.demo.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.ehanmy.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".mvp.ui.activity.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.GoodsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.TaoCanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.TaoCanDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PayResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SelfPickupAddrListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChoiceStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MealOrderConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.HospitalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.HospitalChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DoctorMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DiaryDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".mvp.ui.activity.DiaryImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DiaryForGoodsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.HGoodsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.HGoodsOrderConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChoiceTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.OrderDeatilsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyMealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.NewlywedsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.TimelimitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyMealDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DoctorIntorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DoctorPaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DoctorHonorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.UserIntegralActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DoctorAllCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.DoctorCommentInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AddBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ReleaseDiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyDiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ConsumeCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CashCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CashConvertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.GetCashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyFarvirateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyFollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.RecommenderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChooseBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.PlatformActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.AuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ModifyUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ConsumeCoinInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.InviteMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.InviteListActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b84ca1ef43e481641000018" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="umeng" />

        <activity
            android:name="cn.ehanmy.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".mvp.ui.activity.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.ChoiceProjectForDiaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.CashPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.GetCashListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.MyStoreActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>